# Node
node_modules/
dist/
build/

# Python
venv/
__pycache__/
*.pyc
*.pyo

# Database
*.db
*.sqlite3

# Environment
.env
.env.*

# Logs
*.log

# IDE
.vscode/
.idea/

# Cache
.cache/

# OS
Thumbs.db
.DS_Store